apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: backstage-showcase-efnk
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: backstage-showcase-efnk
    app.kubernetes.io/part-of: backstage-showcase-1
  name: backstage-showcase-efnk
spec:
  replicas: 0
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: backstage-showcase-efnk
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: backstage-showcase-efnk
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/ktsao-tenant/backstage-showcase-1/backstage-showcase-efnk@sha256:d11b942d86bc745794b6d52c5bc3fc5c6c47d346266c7c6451f4142d6082ed3f
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8081
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
